@page {
    size: 1000px 1414px;
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    background-color: #f7f7f7;
    color: #201c1d;
    margin: 0 48px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: 400;
}

.name {
    font-size: 4rem;
    margin: 24px 0 8px -6px;
}

.role {
    margin: 0;
    margin-bottom: 24px;
}
.headline {
    width: 100%;
    background-color: #f7f7f7;
}

.sidebar {
    background-color: #201c1d;
    color: #f7f7f7;
    width: 35%;
    display: flex;
    flex-direction: column;
    padding-bottom: 84px;
}

.about {
    border-bottom: 1px solid #f7f7f7;
}
.main-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 48px;
}
.container {
    width: 100%;
    display: flex;
    flex: 1;
}

.outer-container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.photo img {
    width: 100%;
    height: auto;
}

.block {
    width: 35%;
    height: 96px;
    background-color: #201c1d;
}

.about, .contact {
    padding: 32px;
}

.place {
    display: flex;
}

.date {
    font-weight: 700;
    flex-basis: 40%;
}

.main-page h2 {
    font-size: 2rem;
}

.main-page > div {
    border-bottom: 1px solid #201c1d;
    padding-bottom: 24px;
}

a {
    color: inherit;
}

.place-description {
    flex: 1;
}

.place-description h3 {
    margin: 0;
}
